h1{
    text-align: center;
    margin: 15px;
}
.first-c {
background-color: brown;
height: 50px;
width: 300px;
}

.second-c{
    background-color: green;
    height: 50px;
width: 300px;
}

.first-flag{
    height: 150px;
    width: 300px;
    margin-left: 500px;
    margin-bottom: 15px;
}
.third-c{
    height: 50px;
width: 300px;
background-color: blue;
}
.row2{
    width: 300px;
    height: 50px;
    background-color: yellow;
}
.float{
width: 100px;
float: left;
}
.raw3{
    height: 50px;
    width: 300px;
}
.color4{
    background-color: grey;
    width: 150px;
    height: 50px;
    float: left;
}
.color5{
    background-color: black;
    width: 150px;
    height: 50px;
    float: left;
}
.second-f{
    width: 300px;
    height: 150px;
    margin-left: 500px;
    margin-bottom: 15px;
}
.row1{
    height: 50px;
}
.f3{
    background-color: rgb(229, 240, 183);
    width: 350px;
    height: 130px;
    margin-left: 500px;
}
.c1{
    background-color: red;
height: 100px;
width: 80px;
margin: 15px;
float: left;
}
.c2{
height: 100px;
width: 80px;
margin: 15px;
background-color: green;
float: left;
}
.c3{
    height: 100px;
width: 80px;
margin: 15px;
background-color: rgb(0, 9, 128);
float: left;
}

